<div class="col-md-offset-4">

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <!-- card header start -->
        <div class="card-header">
          <h5 class="card-title col-md-offset-2">Quote Colorizer </h5>
        </div>
        <!-- card-header end -->
        <!-- card body start -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-primary">
                <!-- form start -->
                <form>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control" id="color" name="color" placeholder="Enter Task"
                            #newColor (keyup.enter)="addColor(newColor.value);newColor.value=''" (blur)="addColor(newColor.value); newColor.value='' ">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="col-md-offset-2">
                      <button type="button" class="btn btn-primary">Colorizer</button>
                    </div>
                  </div>
                </form>
                <!-- form end -->
              </div>
            </div>
          </div>
        </div>
        <!-- card body end -->
      </div>
    </div>
  </div>
</div>

<!-- flexbox -->
<ul>
  <div *ngFor="let color of data">
    <div class="flex-container col-md-6 col-md-offset-2">
      <div class="color">
        <div  style="text-align:center;" >
          {{color}}
        </div>
      </div>
    </div>
  </div>
</ul>